/* кнопка меню (mobile) */
.menu__container {
    background-color: #fff;
    // position: relative;
    
    
    // text-align: center;
    // font-size: 20px;    

    // width: auto;
    @include mq(mobile-only){
        display: none;

        position: absolute;
        top: 100%;
        left: 0;
        width: 100vh;
        height: 100vh;
        padding: 0 40px;

        &.is-open {
        display: block;
        } 
    }

    @include mq(tablet){
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;
    }
    @include mq(desktop) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.menu__button {

    position: absolute;
    top: 10px;
    right: 15px;

    display: inline-flex;
    margin: 0;
    padding: 0; 
    border: none;
    background-color: transparent;

    @media screen and (min-width: 768px){
      display:none;  
    }
}

.menu__icon--close {
    display: none;
}

.menu__button.is-open .menu__icon--close {
    display: block;
}

.menu__button.is-open .menu__icon{
    display: none;
}

.menu__button.is-open .header__logo {
    display: none;
}

// @include mq(mobile-only){ 
// .menu__button.is-open,
// .header__logo .logo.is-open {
//     display: block;
// }

// .header__logo .logo.is-hidden {
//     display: none;
// }}
