/* Секція "Команда" - Соц.мережі */
.social-net {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-net__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--primary-bg-color);

    transition: color 250ms var(--timing-function);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }

    &:hover .social-net__icon,
    &:focus .social-net__icon {
        fill: var(--third-text-color);
    }
}

.social-net__item {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
}

.social-net__icon {
    fill: #AFB1B8;
    transition: fill 250ms var(--timing-function);
}

/*  Соцсети "темная сторона" */
.social-net__link--dark {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);

    transition: background-color 250ms var(--timing-function);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }

    &:hover .social-net__icon--dark,
    &:focus .social-net__icon--dark {
        fill: var(--third-text-color);
    }
}



.social-net__icon--dark {
    fill: var(--third-text-color);
    transition: fill 250ms var(--timing-function);
}

// Секція мобільного меню

.social-links__list{
    display: flex;
    justify-content: flex-start;
    
    @include mq(tablet){
      display: none;   
    }
    margin-bottom: 48px;

}
.social-links__link{
    display: block;
    margin-right: 10px;
    padding-right: 10px;
    
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    text-decoration: none;

    color:var(--accent-color);
    // border-right: 2px solid rgba(255, 0, 0, 0.905);
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    // transform: rotate(90deg);

    // &:nth-child(4){
    //     border: none;
    //     margin: 0;
    //     padding: 0;
    // }
}
// .social-links__link:last-child{
//         border: none;
//         margin: 0;
//         padding: 0;
//     }