body {
    background-color: var(--primary-bg-color);
    font-family: var(--primary-font);
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}
body.modal-open {
    overflow: hidden;
}

html {
    scroll-behavior: smooth;
}


/* Назви секцій  */
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--primary-text-color);
}