.container {

    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    // width: 100%;
    // display: flex;
    // // display: block;
    // // align-items: center;

    @include mq(mobile){
        max-width: 480px;
    }
    @include mq(tablet){
        max-width: 768px;
    }
    @include mq(desktop){
        max-width: 1200px;
    }

    
}