/* Секція "Переваги" */
.advantage {
    padding-top: 60px;
    padding-bottom: 60px;    
    
    @include mq(desktop){
    padding-top: 94px;
    padding-bottom: 94px;
    }
}

// .advantage__list {
  
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
// }

.advantage__item {
    @include mq(mobile){
    --items: 1;
    width: 450px;
    }

    @include mq(tablet){
    --items: 2;
    width: 354px;
    }

    @include mq(desktop){
    --items: 4;
    width: 270px;
    }
}

.advantage__item {
    color: var(--primary-text-color);
}

.advantage__picture-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5F4FA;
    // width: 270px;
    height: 120px;
    margin-bottom: 30px;
}

.advantage__icon {
    fill: var(--primary-text-color);
    --color2: var(--accent-color);
}

.advantage__title {

    @include mq(mobile-only){
        text-align: center;
    }

    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.advantage__text {
    line-height: 1.71;
    color: var(--secondary-text-color);
}