/* Секція "Постійні клієнти" */
.customers {
    padding-top: 60px;
    padding-bottom: 60px;
    
    @include mq(desktop) {
        padding-top: 92px;
        padding-bottom: 92px;
    }
}

.customers__section-title {
    margin-bottom: 30px;

    @include mq(desktop) {
        margin-bottom: 50px;
    }
}

// .customers__list {
//     // display: flex;
//     // align-items: center;
//     // justify-content: center;
// }

.customers__item {
    
         @include mq(mobile) {
             --items: 2;
         }
    
         @include mq(tablet) {
             --items: 3;
         }
    
         @include mq(desktop) {
             --items: 6;
         }
}

.customers__link {
    display: flex;
    align-items: center;
    justify-content: center;

    @include mq(mobile) {
        width: 210px;
    }
    
    @include mq(tablet) {
        width: 226px;
    }
    
    @include mq(desktop) {
        width: 170px;
    }
        height: 92px;

    border: 1px solid #AFB1B8;
    border-radius: 4px;

    transition: border-color 250ms var(--timing-function);

    &:hover,
    &:focus {
        border-color: var(--accent-color);
    }
    
    &:hover .customers__icon,
    &:focus .customers__icon {
        fill: var(--accent-color);
    }
}

.customers__icon {
    fill: #AFB1B8;
    transition: fill 250ms var(--timing-function);
}