/* ============================== */
/*         F o o t e r            */
/* ============================== */

.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background: var(--third-bg-color);
    
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // flex-wrap: wrap;
}

.footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mq(tablet){
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
    }
    @include mq(desktop){
        flex-direction: row;
        align-items: baseline;
    }

}

.footer__logo {
    display: block;
    margin-bottom: 20px;
    @include mq(desktop) {
        text-align: left;
    }
}

.address {
    line-height: 1.71;
    font-style: normal;
}

.address__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    // margin-right: 70px;
    margin-bottom: 60px;

    @include mq(desktop){
        margin-bottom: 0;
        align-items:flex-start;
    }
}

.address__item {
    display: block;
    text-align: center;
    margin-bottom: 8px;
    // margin-bottom: 9px;
    @include mq(desktop) {
        text-align: left;
    }
}

.address__item:last-child {
    margin-bottom: 0;
}

.address__map {
    text-decoration: none;
    color: var(--third-text-color);
}

.address__mail,
.address__tel {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

/*  Присоединяйтесь */
.call {
    margin-bottom: 60px;
    // margin-right: 93px;
    @include mq(desktop) {
        margin-bottom: 0;
    }
}

.call__title,
.subscribe__title {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
    color: var(--third-text-color);
    
    @include mq(desktop){
        text-align: left;
    }
}