/* ============================== */
/*          H e a d e r           */
/* ============================== */

.header {
    background: var(--primary-bg-color);
    border-bottom: 1px solid #ECECEC;
    position: relative;
}

.header__container {
    // position: relative;
    
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    @include mq(mobile-only){
        height: 60px;
    }
}

.header__logo {
    margin-right: 88px;
    @include mq(desktop){
       margin-right: 93px; 
    }
}


/* меню навігатора */

// .navigation__container{   
//     outline: 1px solid red;
// }
// .header-contacts__container {
//     outline: 1px solid green;
// }

.navigation{
    width: 100%;
}

.navigation__list {
    display: flex;
    align-items: center;
    justify-content: center;

    @include mq(mobile-only){
      
        flex-direction: column;
        align-items: flex-start;
    }
}

.navigation__item {
    margin-right: 50px;

    &:last-child {
        margin-right: 0;
    }
}

.navigation__link {
    position: relative;
    display: block;

    text-decoration: none;
    padding-bottom: 32px;

    font-size: 40px;
    line-height: 1.175;
    
    color: var(--primary-text-color);
    transition: color 250ms var(--timing-function);  

    @include mq(mobile-only){
    //   &:last-child{
    //     padding-bottom: 0;
    // }  
    }
    
    
    &:hover,
    &:focus{
        color: var(--accent-color);
    }

    @include mq(tablet){
        padding-top: 32px;
        padding-bottom: 32px;
        // padding: 32px 0px 32px 0px;
        
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
    }  
}

.navigation__link--current {
    color: var(--accent-color);
}

@include mq(tablet){
  .navigation__link--current::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
}  
}


/* контакти */
.header-contacts__list {
    display: flex;
    flex-direction: column-reverse;
    // align-items: flex-start;
    // justify-content: space-evenly; 
    @include mq(tablet){
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly; 
    }
    @include mq(desktop){
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

}


@include mq(desktop){
    .header-contacts__item{
        margin-left: 50px;
    }
    .header-contacts__item:first-child {
        margin-right: auto;
    }
}

.header-contacts__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    list-style: none;
    text-decoration: none;
    color: var(--secondary-text-color);

    transition: color 250ms var(--timing-function);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }

    @include mq(tablet){
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    @include mq(desktop){
        padding-top: 32px;
        padding-bottom: 32px;
    }
}

.header-contacts__link--tel{
    @include mq(mobile-only) {
        display: block;
        margin-bottom: 32px;
        
        font-weight: 500;
        font-size: 34px;
        line-height: 1.18;
        letter-spacing: 0.02em;

        color: var(--accent-color);
    }
}
.header-contacts__link--mail{
    @include mq(mobile-only) {
        display: block;
        margin-bottom: 64px;

        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.02em;
    
        color: var(--secondary-text-color);
    }
        @include mq(tablet) {
            margin-bottom: 10px;
        }
                @include mq(desktop) {
                    margin-bottom: 0;
                }

}

.header-contacts__icon {
    @include mq(mobile-only){
        display: none;
    }

    fill: currentColor;
    margin-right: 10px;
}