/* ============================== */
/*          H e a d e r           */
/* ============================== */

.header {
    background: var(--primary-bg-color);
    border-bottom: 1px solid #ECECEC;
    
    position: relative;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    margin-right: 88px;
    @include mq(desktop){
       margin-right: 93px; 
    }
}


/* меню навігатора */

// .navigation__container{
   
//     outline: 1px solid red;
// }
// .header-contacts__container {
    
//     outline: 1px solid green;
// }

.navigation__list {
    display: flex;
    align-items: center;
    justify-content: center;

    @include mq(mobile-only){
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
}

.navigation__item {
    margin-right: 50px;

    &:last-child {
        margin: 0;
    }
}

.navigation__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition: color 250ms var(--timing-function);

    &:hover,
    &:focus{
        color: var(--accent-color);
    }

    @include mq(mobile-only){
        padding-left: 40px;
        padding-top: 32px;

        font-size: 40px;
        line-height: 1.175;
        &:last-child{
            padding-top: 0;
        }
    }
}

.navigation__link--current {
    color: var(--accent-color);
}

@include mq(tablet){
  .navigation__link--current::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
}  
}


/* контакти */
.header-contacts__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly; 
    
    margin-left: auto;

}

.header-contacts__item{
    margin-left: 50px;
}
// .header-contacts__item:first-child {
//     // margin-right: 50px;
// }

.header-contacts__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    // height: auto;
    // padding-top: 32px;
    // padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    list-style: none;
    text-decoration: none;
    color: var(--secondary-text-color);

    transition: color 250ms var(--timing-function);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}



.header-contacts__icon {
    fill: currentColor;
    margin-right: 10px;
}