/* Секція "Команда" */
.team {
    background: var(--secondary-bg-color);
    padding-top: 60px;
    padding-bottom: 60px;
   
    @include mq(desktop) {
        padding-top: 94px;
        padding-bottom: 94px;
    }  
}

.team__section-title {
    margin-bottom: 30px;

    @include mq(desktop) {
        margin-bottom: 50px;
    }
}

.team__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.team__item {
    @include mq(mobile) {
        --items: 1;
        }
    @include mq(tablet) {
        --items: 2;
    }
    @include mq(desktop) {
        --items: 4;
    }
    
    background: var(--primary-bg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team__member-box {
    padding-top: 30px;
    padding-bottom: 24px;

    @include mq(desktop){
        padding-bottom: 30px;
    }
}

.team__member-name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team__member-position {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--secondary-text-color);
}